In [153]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
dataP = pd.read_csv('../data/PatientInfo.csv')

In [154]:
dataP.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5165 entries, 0 to 5164
Data columns (total 14 columns):
patient_id            5165 non-null int64
sex                   4043 non-null object
age                   3785 non-null object
country               5165 non-null object
province              5165 non-null object
city                  5071 non-null object
infection_case        4246 non-null object
infected_by           1346 non-null object
contact_number        791 non-null object
symptom_onset_date    690 non-null object
confirmed_date        5162 non-null object
released_date         1587 non-null object
deceased_date         66 non-null object
state                 5165 non-null object
dtypes: int64(1), object(13)
memory usage: 565.0+ KB

In [155]:
dataP # 연령대와 완치하는데 걸리는 기간이 관련이 있지 않을까?

,patient_id,sex,age,country,province,city,infection_case,infected_by,contact_number,symptom_onset_date,confirmed_date,released_date,deceased_date,state
0,1000000001,male,50s,Korea,Seoul,Gangseo-gu,overseas inflow,NaN,75,2020-01-22,2020-01-23,2020-02-05,NaN,released
1,1000000002,male,30s,Korea,Seoul,Jungnang-gu,overseas inflow,NaN,31,NaN,2020-01-30,2020-03-02,NaN,released
2,1000000003,male,50s,Korea,Seoul,Jongno-gu,contact with patient,2002000001,17,NaN,2020-01-30,2020-02-19,NaN,released
3,1000000004,male,20s,Korea,Seoul,Mapo-gu,overseas inflow,NaN,9,2020-01-26,2020-01-30,2020-02-15,NaN,released
4,1000000005,female,20s,Korea,Seoul,Seongbuk-gu,contact with patient,1000000002,2,NaN,2020-01-31,2020-02-24,NaN,released
5,1000000006,female,50s,Korea,Seoul,Jongno-gu,contact with patient,1000000003,43,NaN,2020-01-31,2020-02-19,NaN,released
6,1000000007,male,20s,Korea,Seoul,Jongno-gu,contact with patient,1000000003,0,NaN,2020-01-31,2020-02-10,NaN,released
7,1000000008,male,20s,Korea,Seoul,etc,overseas inflow,NaN,0,NaN,2020-02-02,2020-02-24,NaN,released
8,1000000009,male,30s,Korea,Seoul,Songpa-gu,overseas inflow,NaN,68,NaN,2020-02-05,2020-02-21,NaN,released
9,1000000010,female,60s,Korea,Seoul,Seongbuk-gu,contact with patient,1000000003,6,NaN,2020-02-05,2020-02-29,NaN,released
10,1000000011,female,50s,China,Seoul,Seodaemun-gu,overseas inflow,NaN,23,NaN,2020-02-06,2020-02-29,NaN,released
11,1000000012,male,20s,Korea,Seoul,etc,overseas inflow,NaN,0,NaN,2020-02-07,2020-02-27,NaN,released
12,1000000013,male,80s,Korea,Seoul,Jongno-gu,contact with patient,1000000017,117,NaN,2020-02-16,NaN,NaN,deceased
13,1000000014,female,60s,Korea,Seoul,Jongno-gu,contact with patient,1000000013,27,2020-02-06,2020-02-16,2020-03-12,NaN,released
14,1000000015,male,70s,Korea,Seoul,Seongdong-gu,Seongdong-gu APT,NaN,8,2020-02-11,2020-02-19,NaN,NaN,released
15,1000000016,male,70s,Korea,Seoul,Jongno-gu,contact with patient,1000000017,NaN,NaN,2020-02-19,2020-03-11,NaN,released
16,1000000017,male,70s,Korea,Seoul,Jongno-gu,contact with patient,1000000003,NaN,NaN,2020-02-20,2020-03-01,NaN,released
17,1000000018,male,20s,Korea,Seoul,etc,etc,NaN,NaN,NaN,2020-02-20,NaN,NaN,released
18,1000000019,female,70s,Korea,Seoul,Jongno-gu,contact with patient,1000000021,NaN,NaN,2020-02-20,2020-03-08,NaN,released
19,1000000020,female,70s,Korea,Seoul,Seongdong-gu,Seongdong-gu APT,1000000015,NaN,NaN,2020-02-20,NaN,NaN,released
20,1000000021,male,80s,Korea,Seoul,Jongno-gu,contact with patient,1000000016,NaN,NaN,2020-02-20,2020-03-08,NaN,released
21,1000000022,male,30s,Korea,Seoul,Seodaemun-gu,Eunpyeong St. Mary's Hospital,NaN,NaN,NaN,2020-02-21,NaN,NaN,released
22,1000000023,male,50s,Korea,Seoul,Seocho-gu,Shincheonji Church,NaN,NaN,NaN,2020-02-21,NaN,NaN,released
23,1000000024,male,40s,Korea,Seoul,Guro-gu,contact with patient,NaN,NaN,NaN,2020-02-22,2020-03-14,NaN,released
24,1000000025,male,60s,Korea,Seoul,Gangdong-gu,Eunpyeong St. Mary's Hospital,1000000022,NaN,NaN,2020-02-22,NaN,NaN,released
25,1000000026,male,30s,Korea,Seoul,Seocho-gu,etc,NaN,NaN,2020-02-21,2020-02-22,2020-03-11,NaN,released
26,1000000027,male,50s,Korea,Seoul,Gangseo-gu,overseas inflow,NaN,NaN,NaN,2020-02-23,2020-03-04,NaN,released
27,1000000028,female,70s,Korea,Seoul,Jongno-gu,Eunpyeong St. Mary's Hospital,NaN,NaN,NaN,2020-02-23,2020-03-11,NaN,released
28,1000000029,female,20s,Korea,Seoul,Jongno-gu,Eunpyeong St. Mary's Hospital,1000000028,NaN,2020-02-11,2020-02-26,2020-03-11,NaN,released
29,1000000030,male,60s,China,Seoul,Gangdong-gu,Eunpyeong St. Mary's Hospital,NaN,NaN,NaN,2020-02-23,NaN,NaN,released
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5135,6100000123,female,20s,Korea,Gyeongsangnam-do,Gimhae-si,etc,NaN,NaN,NaN,2020-06-05,NaN,NaN,released
5136,6100000124,male,40s,Korea,Gyeongsangnam-do,Yangsan-si,etc,NaN,NaN,NaN,2020-06-08,NaN,NaN,released
5137,6100000125,female,40s,Korea,Gyeongsangnam-do,Yangsan-si,etc,NaN,NaN,NaN,2020-06-09,NaN,NaN,isolated
5138,6100000126,female,10s,Korea,Gyeongsangnam-do,Yangsan-si,etc,NaN,NaN,NaN,2020-06-09,NaN,NaN,isolated
5139,6100000127,male,40s,Korea,Gyeongsangnam-do,Gimhae-si,etc,NaN,NaN,NaN,2020-06-14,NaN,NaN,released
5140,6100000128,male,40s,Korea,Gyeongsangnam-do,Geoje-si,overseas inflow,NaN,NaN,NaN,2020-06-14,NaN,NaN,released
5141,6100000129,male,40s,Korea,Gyeongsangnam-do,Geoje-si,overseas inflow,NaN,NaN,NaN,2020-06-14,NaN,NaN,isolated
5142,6100000130,NaN,NaN,Korea,Gyeongsangnam-do,Hapcheon-gun,overseas inflow,NaN,NaN,NaN,2020-06-15,NaN,NaN,released
5143,6100000131,male,40s,Korea,Gyeongsangnam-do,Geoje-si,overseas inflow,NaN,NaN,NaN,2020-06-15,NaN,NaN,isolated
5144,6100000132,male,30s,Korea,Gyeongsangnam-do,Gimhae-si,overseas inflow,NaN,NaN,NaN,2020-06-20,NaN,NaN,isolated
5145,6100000133,male,30s,Korea,Gyeongsangnam-do,Yangsan-si,overseas inflow,NaN,NaN,NaN,2020-06-28,NaN,NaN,isolated
5146,7000000001,male,20s,Korea,Jeju-do,Jeju-do,etc,NaN,87,NaN,2020-02-20,2020-03-23,NaN,released
5147,7000000002,female,20s,Korea,Jeju-do,Jeju-do,etc,NaN,84,NaN,2020-02-22,2020-03-07,NaN,released
5148,7000000003,female,40s,Korea,Jeju-do,etc,etc,NaN,21,NaN,2020-03-02,2020-03-15,NaN,released
5149,7000000004,male,40s,Korea,Jeju-do,Jeju-do,etc,NaN,74,NaN,2020-03-04,2020-03-21,NaN,released
5150,7000000005,female,20s,Korea,Jeju-do,Jeju-do,overseas inflow,NaN,20,NaN,2020-03-24,2020-05-08,NaN,released
5151,7000000006,male,30s,United States,Jeju-do,Jeju-do,overseas inflow,NaN,23,NaN,2020-03-24,2020-05-05,NaN,released
5152,7000000007,female,20s,Korea,Jeju-do,Jeju-do,overseas inflow,NaN,26,NaN,2020-03-25,2020-04-03,NaN,released
5153,7000000008,female,10s,Korea,Jeju-do,Jeju-do,overseas inflow,NaN,25,NaN,2020-03-27,2020-04-12,NaN,released
5154,7000000009,female,20s,Korea,Jeju-do,Jeju-do,overseas inflow,NaN,14,NaN,2020-03-29,2020-04-28,NaN,released
5155,7000000010,female,20s,Korea,Jeju-do,Jeju-do,overseas inflow,NaN,18,NaN,2020-04-03,2020-04-21,NaN,released
5156,7000000011,male,30s,Korea,Jeju-do,Jeju-do,contact with patient,7000000009,5,NaN,2020-04-03,2020-05-19,NaN,released
5157,7000000012,female,20s,Korea,Jeju-do,Jeju-do,overseas inflow,NaN,9,NaN,2020-04-03,2020-05-05,NaN,released
5158,7000000013,female,10s,China,Jeju-do,Jeju-do,overseas inflow,NaN,6,NaN,2020-04-14,2020-04-26,NaN,released
5159,7000000014,female,30s,Korea,Jeju-do,Jeju-do,Itaewon Clubs,NaN,140,NaN,2020-05-09,2020-06-12,NaN,released
5160,7000000015,female,30s,Korea,Jeju-do,Jeju-do,overseas inflow,NaN,25,NaN,2020-05-30,2020-06-13,NaN,released
5161,7000000016,NaN,NaN,Korea,Jeju-do,Jeju-do,overseas inflow,NaN,NaN,NaN,2020-06-16,2020-06-24,NaN,released
5162,7000000017,NaN,NaN,Bangladesh,Jeju-do,Jeju-do,overseas inflow,NaN,72,NaN,2020-06-18,NaN,NaN,isolated
5163,7000000018,NaN,NaN,Bangladesh,Jeju-do,Jeju-do,overseas inflow,NaN,NaN,NaN,2020-06-18,NaN,NaN,isolated
5164,7000000019,NaN,NaN,Bangladesh,Jeju-do,Jeju-do,overseas inflow,NaN,NaN,NaN,2020-06-18,NaN,NaN,isolated

In [156]:
dataP2 = dataP.iloc[:, [2,10,11]].dropna(axis=0).copy()

In [157]:
dataP2 # 필요한 데이터만 추출

      age confirmed_date released_date
0     50s     2020-01-23    2020-02-05
1     30s     2020-01-30    2020-03-02
2     50s     2020-01-30    2020-02-19
3     20s     2020-01-30    2020-02-15
4     20s     2020-01-31    2020-02-24
5     50s     2020-01-31    2020-02-19
6     20s     2020-01-31    2020-02-10
7     20s     2020-02-02    2020-02-24
8     30s     2020-02-05    2020-02-21
9     60s     2020-02-05    2020-02-29
10    50s     2020-02-06    2020-02-29
11    20s     2020-02-07    2020-02-27
13    60s     2020-02-16    2020-03-12
15    70s     2020-02-19    2020-03-11
16    70s     2020-02-20    2020-03-01
18    70s     2020-02-20    2020-03-08
20    80s     2020-02-20    2020-03-08
23    40s     2020-02-22    2020-03-14
25    30s     2020-02-22    2020-03-11
26    50s     2020-02-23    2020-03-04
27    70s     2020-02-23    2020-03-11
28    20s     2020-02-26    2020-03-11
30    50s     2020-02-22    2020-03-19
32    50s     2020-02-24    2020-03-10
33    20s     2020-02-24    2020-03-17
34    30s     2020-02-25    2020-03-20
36    40s     2020-02-25    2020-03-11
40    50s     2020-02-25    2020-03-04
44    40s     2020-02-26    2020-03-04
45    20s     2020-02-26    2020-03-03
...   ...            ...           ...
5095  20s     2020-03-10    2020-03-30
5096  40s     2020-03-11    2020-03-14
5097  30s     2020-03-16    2020-04-08
5098  50s     2020-03-19    2020-05-04
5099  50s     2020-03-21    2020-05-06
5100  20s     2020-03-22    2020-04-19
5104  40s     2020-03-28    2020-04-15
5107  50s     2020-03-20    2020-05-01
5108  60s     2020-03-31    2020-04-25
5121  30s     2020-04-05    2020-05-11
5127  20s     2020-04-16    2020-04-25
5128  60s     2020-04-21    2020-05-15
5129  50s     2020-05-11    2020-05-29
5130  20s     2020-05-12    2020-06-07
5131  30s     2020-05-16    2020-05-24
5146  20s     2020-02-20    2020-03-23
5147  20s     2020-02-22    2020-03-07
5148  40s     2020-03-02    2020-03-15
5149  40s     2020-03-04    2020-03-21
5150  20s     2020-03-24    2020-05-08
5151  30s     2020-03-24    2020-05-05
5152  20s     2020-03-25    2020-04-03
5153  10s     2020-03-27    2020-04-12
5154  20s     2020-03-29    2020-04-28
5155  20s     2020-04-03    2020-04-21
5156  30s     2020-04-03    2020-05-19
5157  20s     2020-04-03    2020-05-05
5158  10s     2020-04-14    2020-04-26
5159  30s     2020-05-09    2020-06-12
5160  30s     2020-05-30    2020-06-13

[1576 rows x 3 columns]

In [158]:
dataP2["confirmed_date"] = dataP2["confirmed_date"].astype('datetime64[ns]') # 타입변환
dataP2["released_date"] = dataP2["released_date"].astype('datetime64[ns]')

In [159]:
dataP2['days'] = dataP2['released_date'] - dataP2['confirmed_date'] # days 파생변수 추가
dataP2

      age confirmed_date released_date    days
0     50s     2020-01-23    2020-02-05 13 days
1     30s     2020-01-30    2020-03-02 32 days
2     50s     2020-01-30    2020-02-19 20 days
3     20s     2020-01-30    2020-02-15 16 days
4     20s     2020-01-31    2020-02-24 24 days
5     50s     2020-01-31    2020-02-19 19 days
6     20s     2020-01-31    2020-02-10 10 days
7     20s     2020-02-02    2020-02-24 22 days
8     30s     2020-02-05    2020-02-21 16 days
9     60s     2020-02-05    2020-02-29 24 days
10    50s     2020-02-06    2020-02-29 23 days
11    20s     2020-02-07    2020-02-27 20 days
13    60s     2020-02-16    2020-03-12 25 days
15    70s     2020-02-19    2020-03-11 21 days
16    70s     2020-02-20    2020-03-01 10 days
18    70s     2020-02-20    2020-03-08 17 days
20    80s     2020-02-20    2020-03-08 17 days
23    40s     2020-02-22    2020-03-14 21 days
25    30s     2020-02-22    2020-03-11 18 days
26    50s     2020-02-23    2020-03-04 10 days
27    70s     2020-02-23    2020-03-11 17 days
28    20s     2020-02-26    2020-03-11 14 days
30    50s     2020-02-22    2020-03-19 26 days
32    50s     2020-02-24    2020-03-10 15 days
33    20s     2020-02-24    2020-03-17 22 days
34    30s     2020-02-25    2020-03-20 24 days
36    40s     2020-02-25    2020-03-11 15 days
40    50s     2020-02-25    2020-03-04  8 days
44    40s     2020-02-26    2020-03-04  7 days
45    20s     2020-02-26    2020-03-03  6 days
...   ...            ...           ...     ...
5095  20s     2020-03-10    2020-03-30 20 days
5096  40s     2020-03-11    2020-03-14  3 days
5097  30s     2020-03-16    2020-04-08 23 days
5098  50s     2020-03-19    2020-05-04 46 days
5099  50s     2020-03-21    2020-05-06 46 days
5100  20s     2020-03-22    2020-04-19 28 days
5104  40s     2020-03-28    2020-04-15 18 days
5107  50s     2020-03-20    2020-05-01 42 days
5108  60s     2020-03-31    2020-04-25 25 days
5121  30s     2020-04-05    2020-05-11 36 days
5127  20s     2020-04-16    2020-04-25  9 days
5128  60s     2020-04-21    2020-05-15 24 days
5129  50s     2020-05-11    2020-05-29 18 days
5130  20s     2020-05-12    2020-06-07 26 days
5131  30s     2020-05-16    2020-05-24  8 days
5146  20s     2020-02-20    2020-03-23 32 days
5147  20s     2020-02-22    2020-03-07 14 days
5148  40s     2020-03-02    2020-03-15 13 days
5149  40s     2020-03-04    2020-03-21 17 days
5150  20s     2020-03-24    2020-05-08 45 days
5151  30s     2020-03-24    2020-05-05 42 days
5152  20s     2020-03-25    2020-04-03  9 days
5153  10s     2020-03-27    2020-04-12 16 days
5154  20s     2020-03-29    2020-04-28 30 days
5155  20s     2020-04-03    2020-04-21 18 days
5156  30s     2020-04-03    2020-05-19 46 days
5157  20s     2020-04-03    2020-05-05 32 days
5158  10s     2020-04-14    2020-04-26 12 days
5159  30s     2020-05-09    2020-06-12 34 days
5160  30s     2020-05-30    2020-06-13 14 days

[1576 rows x 4 columns]

In [162]:
result = [] #문제발생 - days가 int도, object도 아니기때문에 공백을 넣어 object로 일단 전환
for x in dataP2['days']:
    result.append(x + " ")
dataP2['days'] = result
dataP2['days']

0      13 days
1      32 days
2      20 days
3      16 days
4      24 days
5      19 days
6      10 days
7      22 days
8      16 days
9      24 days
10     23 days
11     20 days
13     25 days
15     21 days
16     10 days
18     17 days
20     17 days
23     21 days
25     18 days
26     10 days
27     17 days
28     14 days
30     26 days
32     15 days
33     22 days
34     24 days
36     15 days
40      8 days
44      7 days
45      6 days
         ...
5095   20 days
5096    3 days
5097   23 days
5098   46 days
5099   46 days
5100   28 days
5104   18 days
5107   42 days
5108   25 days
5121   36 days
5127    9 days
5128   24 days
5129   18 days
5130   26 days
5131    8 days
5146   32 days
5147   14 days
5148   13 days
5149   17 days
5150   45 days
5151   42 days
5152    9 days
5153   16 days
5154   30 days
5155   18 days
5156   46 days
5157   32 days
5158   12 days
5159   34 days
5160   14 days
Name: days, Length: 1576, dtype: timedelta64[ns]

In [163]:
dataP2['days'] = dataP2['days'].astype('str')

In [164]:
dataP2['days'][0]

'13 days 00:00:00.000000000'

In [165]:
result2 = [] # 공백을 기준으로 스플릿 처리 - 앞 숫자만 추출
for x in dataP2['days']:
    result2.append(x.split(' ')[0])
result2

['13',
 '32',
 '20',
 '16',
 '24',
 '19',
 '10',
 '22',
 '16',
 '24',
 '23',
 '20',
 '25',
 '21',
 '10',
 '17',
 '17',
 '21',
 '18',
 '10',
 '17',
 '14',
 '26',
 '15',
 '22',
 '24',
 '15',
 '8',
 '7',
 '6',
 '14',
 '16',
 '5',
 '5',
 '19',
 '5',
 '15',
 '15',
 '3',
 '4',
 '14',
 '4',
 '20',
 '21',
 '5',
 '6',
 '16',
 '20',
 '19',
 '18',
 '16',
 '12',
 '9',
 '9',
 '12',
 '7',
 '9',
 '8',
 '17',
 '15',
 '28',
 '26',
 '24',
 '24',
 '24',
 '13',
 '25',
 '31',
 '28',
 '44',
 '25',
 '16',
 '11',
 '27',
 '11',
 '24',
 '27',
 '13',
 '11',
 '13',
 '8',
 '8',
 '17',
 '17',
 '17',
 '16',
 '7',
 '26',
 '17',
 '72',
 '16',
 '8',
 '41',
 '23',
 '36',
 '49',
 '69',
 '17',
 '25',
 '22',
 '15',
 '19',
 '17',
 '35',
 '27',
 '34',
 '22',
 '21',
 '25',
 '12',
 '10',
 '17',
 '25',
 '26',
 '19',
 '10',
 '46',
 '20',
 '41',
 '15',
 '39',
 '50',
 '24',
 '37',
 '13',
 '38',
 '15',
 '12',
 '24',
 '22',
 '18',
 '35',
 '12',
 '19',
 '34',
 '18',
 '12',
 '7',
 '34',
 '29',
 '63',
 '14',
 '16',
 '4',
 '15',
 '33',
 '53',
 '17',
 '52',
 '37',
 '27',
 '27',
 '14',
 '35',
 '7',
 '40',
 '41',
 '9',
 '8',
 '11',
 '7',
 '35',
 '19',
 '10',
 '15',
 '10',
 '33',
 '33',
 '14',
 '36',
 '5',
 '8',
 '8',
 '7',
 '12',
 '35',
 '72',
 '5',
 '12',
 '16',
 '29',
 '29',
 '24',
 '29',
 '30',
 '20',
 '30',
 '41',
 '8',
 '36',
 '22',
 '25',
 '17',
 '16',
 '14',
 '32',
 '35',
 '18',
 '38',
 '12',
 '31',
 '12',
 '30',
 '40',
 '13',
 '25',
 '12',
 '16',
 '22',
 '8',
 '18',
 '22',
 '15',
 '16',
 '16',
 '16',
 '31',
 '7',
 '23',
 '22',
 '18',
 '41',
 '13',
 '27',
 '49',
 '24',
 '7',
 '15',
 '15',
 '16',
 '15',
 '22',
 '12',
 '25',
 '21',
 '34',
 '34',
 '16',
 '19',
 '9',
 '27',
 '9',
 '20',
 '19',
 '32',
 '18',
 '25',
 '54',
 '4',
 '16',
 '23',
 '8',
 '24',
 '48',
 '17',
 '47',
 '9',
 '18',
 '9',
 '19',
 '27',
 '22',
 '38',
 '9',
 '22',
 '9',
 '27',
 '28',
 '37',
 '14',
 '27',
 '17',
 '20',
 '11',
 '12',
 '16',
 '16',
 '10',
 '21',
 '25',
 '45',
 '52',
 '42',
 '25',
 '40',
 '22',
 '9',
 '29',
 '64',
 '42',
 '38',
 '28',
 '40',
 '9',
 '8',
 '41',
 '22',
 '30',
 '28',
 '28',
 '35',
 '37',
 '37',
 '51',
 '47',
 '26',
 '32',
 '31',
 '18',
 '36',
 '16',
 '36',
 '36',
 '2',
 '17',
 '13',
 '17',
 '16',
 '22',
 '7',
 '19',
 '25',
 '27',
 '7',
 '15',
 '11',
 '26',
 '8',
 '15',
 '18',
 '8',
 '1',
 '20',
 '14',
 '18',
 '20',
 '21',
 '18',
 '7',
 '16',
 '14',
 '27',
 '18',
 '25',
 '5',
 '14',
 '19',
 '26',
 '15',
 '31',
 '8',
 '22',
 '6',
 '20',
 '23',
 '0',
 '15',
 '7',
 '26',
 '25',
 '15',
 '37',
 '11',
 '10',
 '30',
 '26',
 '11',
 '15',
 '11',
 '20',
 '10',
 '21',
 '15',
 '16',
 '16',
 '51',
 '8',
 '13',
 '8',
 '8',
 '8',
 '25',
 '11',
 '11',
 '18',
 '25',
 '19',
 '18',
 '15',
 '19',
 '23',
 '24',
 '23',
 '22',
 '25',
 '37',
 '53',
 '27',
 '14',
 '11',
 '19',
 '23',
 '14',
 '27',
 '23',
 '12',
 '8',
 '30',
 '13',
 '49',
 '25',
 '53',
 '23',
 '19',
 '19',
 '41',
 '26',
 '25',
 '28',
 '20',
 '23',
 '19',
 '19',
 '13',
 '27',
 '15',
 '26',
 '19',
 '33',
 '9',
 '29',
 '9',
 '14',
 '21',
 '24',
 '4',
 '24',
 '18',
 '17',
 '47',
 '33',
 '31',
 '21',
 '49',
 '15',
 '32',
 '36',
 '38',
 '12',
 '4',
 '19',
 '34',
 '19',
 '24',
 '21',
 '30',
 '25',
 '29',
 '32',
 '26',
 '50',
 '51',
 '28',
 '19',
 '34',
 '25',
 '20',
 '16',
 '19',
 '25',
 '23',
 '27',
 '7',
 '24',
 '38',
 '19',
 '19',
 '43',
 '24',
 '20',
 '44',
 '17',
 '12',
 '16',
 '37',
 '35',
 '35',
 '13',
 '19',
 '25',
 '29',
 '23',
 '69',
 '30',
 '32',
 '23',
 '27',
 '11',
 '11',
 '43',
 '13',
 '49',
 '18',
 '24',
 '23',
 '17',
 '17',
 '26',
 '18',
 '18',
 '18',
 '12',
 '20',
 '22',
 '17',
 '17',
 '23',
 '11',
 '23',
 '23',
 '17',
 '23',
 '17',
 '22',
 '26',
 '15',
 '10',
 '19',
 '21',
 '14',
 '24',
 '30',
 '21',
 '25',
 '19',
 '19',
 '15',
 '27',
 '15',
 '18',
 '19',
 '67',
 '9',
 '18',
 '21',
 '25',
 '21',
 '19',
 '16',
 '17',
 '22',
 '39',
 '15',
 '51',
 '24',
 '23',
 '14',
 '16',
 '16',
 '10',
 '38',
 '22',
 '32',
 '19',
 '19',
 '9',
 '17',
 '19',
 '29',
 '43',
 '7',
 '14',
 '21',
 '20',
 '26',
 '22',
 '20',
 '44',
 '42',
 '38',
 '29',
 '17',
 '71',
 '28',
 '27',
 '19',
 '44',
 '4',
 '31',
 '26',
 '25',
 '42',
 '14',
 '18',
 '46',
 '15',
 '33',
 '20',
 '11',
 '12',
 '9',
 '13',
 '19',
 '15',
 '21',
 '21',
 '17',
 '9',
 '37',
 '44',
 '22',
 '38',
 '38',
 '16',
 '45',
 '26',
 '42',
 '38',
 '10',
 '31',
 '37',
 '9',
 '35',
 '13',
 '17',
 '28',
 '22',
 '17',
 '34',
 '46',
 '31',
 '19',
 '25',
 '49',
 '46',
 '27',
 '18',
 '44',
 '8',
 '11',
 '50',
 '29',
 '15',
 '34',
 '27',
 '22',
 '35',
 '28',
 '32',
 '34',
 '34',
 '14',
 '28',
 '34',
 '52',
 '27',
 '25',
 '34',
 '23',
 '39',
 '31',
 '16',
 '19',
 '38',
 '11',
 '31',
 '27',
 '51',
 '35',
 '25',
 '24',
 '25',
 '18',
 '31',
 '33',
 '23',
 '24',
 '24',
 '23',
 '25',
 '23',
 '14',
 '33',
 '17',
 '33',
 '24',
 '31',
 '28',
 '23',
 '16',
 '8',
 '19',
 '17',
 '22',
 '24',
 '22',
 '25',
 '22',
 '26',
 '45',
 '35',
 '27',
 '26',
 '29',
 '23',
 '108',
 '26',
 '23',
 '24',
 '14',
 '23',
 '9',
 '25',
 '24',
 '24',
 '45',
 '42',
 '25',
 '39',
 '25',
 '43',
 '15',
 '16',
 '42',
 '29',
 '25',
 '29',
 '49',
 '29',
 '19',
 '15',
 '31',
 '40',
 '40',
 '29',
 '36',
 '34',
 '26',
 '27',
 '22',
 '30',
 '26',
 '24',
 '37',
 '30',
 '20',
 '15',
 '51',
 '70',
 '33',
 '41',
 '28',
 '26',
 '39',
 '54',
 '41',
 '27',
 '42',
 '33',
 '27',
 '13',
 '32',
 '20',
 '32',
 '23',
 '19',
 '42',
 '12',
 '26',
 '36',
 '18',
 '24',
 '14',
 '12',
 '13',
 '10',
 '12',
 '24',
 '47',
 '38',
 '29',
 '14',
 '37',
 '36',
 '39',
 '87',
 '34',
 '25',
 '30',
 '45',
 '34',
 '17',
 '39',
 '28',
 '16',
 '32',
 '32',
 '42',
 '18',
 '24',
 '22',
 '16',
 '20',
 '25',
 '22',
 '22',
 '35',
 '25',
 '19',
 '41',
 '27',
 '38',
 '18',
 '22',
 '22',
 '54',
 '18',
 '27',
 '24',
 '23',
 '32',
 '24',
 '42',
 '39',
 '27',
 '17',
 '18',
 '28',
 '25',
 '11',
 '18',
 '27',
 '26',
 '18',
 '15',
 '29',
 '14',
 '12',
 '12',
 '40',
 '11',
 '41',
 '19',
 '18',
 '12',
 '18',
 '11',
 '34',
 '41',
 '22',
 '35',
 '20',
 '24',
 '23',
 '38',
 '23',
 '77',
 '28',
 '23',
 '11',
 '39',
 '23',
 '16',
 '16',
 '11',
 '20',
 '20',
 '39',
 '19',
 '30',
 '37',
 '16',
 '45',
 '16',
 '26',
 '24',
 '16',
 '26',
 '22',
 '21',
 '16',
 '11',
 '17',
 '16',
 '16',
 '41',
 '19',
 '24',
 '21',
 '17',
 '24',
 '16',
 '23',
 '17',
 '24',
 '21',
 '9',
 '17',
 '24',
 '16',
 '17',
 '17',
 '16',
 '26',
 '16',
 '34',
 '18',
 '24',
 '24',
 '16',
 '17',
 '24',
 '22',
 '19',
 '24',
 '114',
 '9',
 '21',
 '24',
 '23',
 '23',
 '34',
 '17',
 '16',
 '13',
 '12',
 '28',
 '13',
 '16',
 '23',
 '16',
 '15',
 '39',
 '23',
 '17',
 '9',
 '19',
 '35',
 '9',
 '11',
 '25',
 '22',
 '9',
 '16',
 '24',
 '10',
 '15',
 '17',
 '13',
 '32',
 '10',
 '16',
 '18',
 '16',
 '9',
 '12',
 '18',
 '11',
 '10',
 '16',
 '17',
 '31',
 '22',
 '10',
 '31',
 '22',
 '36',
 '38',
 '19',
 '27',
 '18',
 '23',
 '23',
 '9',
 '37',
 '31',
 '24',
 '19',
 '36',
 '36',
 '22',
 '15',
 '64',
 '65',
 '34',
 '74',
 '34',
 '62',
 '29',
 '61',
 '54',
 '52',
 '25',
 '16',
 '20',
 '16',
 '20',
 '35',
 '29',
 '9',
 ...]

In [166]:
dataP2['days'] =result2
dataP2['days']

0       13
1       32
2       20
3       16
4       24
5       19
6       10
7       22
8       16
9       24
10      23
11      20
13      25
15      21
16      10
18      17
20      17
23      21
25      18
26      10
27      17
28      14
30      26
32      15
33      22
34      24
36      15
40       8
44       7
45       6
        ..
5095    20
5096     3
5097    23
5098    46
5099    46
5100    28
5104    18
5107    42
5108    25
5121    36
5127     9
5128    24
5129    18
5130    26
5131     8
5146    32
5147    14
5148    13
5149    17
5150    45
5151    42
5152     9
5153    16
5154    30
5155    18
5156    46
5157    32
5158    12
5159    34
5160    14
Name: days, Length: 1576, dtype: object

In [167]:
dataP2['days'] = dataP2['days'].astype('int64') # 추출한 숫자를 int로 변환시켜줌
dataP2

      age confirmed_date released_date  days
0     50s     2020-01-23    2020-02-05    13
1     30s     2020-01-30    2020-03-02    32
2     50s     2020-01-30    2020-02-19    20
3     20s     2020-01-30    2020-02-15    16
4     20s     2020-01-31    2020-02-24    24
5     50s     2020-01-31    2020-02-19    19
6     20s     2020-01-31    2020-02-10    10
7     20s     2020-02-02    2020-02-24    22
8     30s     2020-02-05    2020-02-21    16
9     60s     2020-02-05    2020-02-29    24
10    50s     2020-02-06    2020-02-29    23
11    20s     2020-02-07    2020-02-27    20
13    60s     2020-02-16    2020-03-12    25
15    70s     2020-02-19    2020-03-11    21
16    70s     2020-02-20    2020-03-01    10
18    70s     2020-02-20    2020-03-08    17
20    80s     2020-02-20    2020-03-08    17
23    40s     2020-02-22    2020-03-14    21
25    30s     2020-02-22    2020-03-11    18
26    50s     2020-02-23    2020-03-04    10
27    70s     2020-02-23    2020-03-11    17
28    20s     2020-02-26    2020-03-11    14
30    50s     2020-02-22    2020-03-19    26
32    50s     2020-02-24    2020-03-10    15
33    20s     2020-02-24    2020-03-17    22
34    30s     2020-02-25    2020-03-20    24
36    40s     2020-02-25    2020-03-11    15
40    50s     2020-02-25    2020-03-04     8
44    40s     2020-02-26    2020-03-04     7
45    20s     2020-02-26    2020-03-03     6
...   ...            ...           ...   ...
5095  20s     2020-03-10    2020-03-30    20
5096  40s     2020-03-11    2020-03-14     3
5097  30s     2020-03-16    2020-04-08    23
5098  50s     2020-03-19    2020-05-04    46
5099  50s     2020-03-21    2020-05-06    46
5100  20s     2020-03-22    2020-04-19    28
5104  40s     2020-03-28    2020-04-15    18
5107  50s     2020-03-20    2020-05-01    42
5108  60s     2020-03-31    2020-04-25    25
5121  30s     2020-04-05    2020-05-11    36
5127  20s     2020-04-16    2020-04-25     9
5128  60s     2020-04-21    2020-05-15    24
5129  50s     2020-05-11    2020-05-29    18
5130  20s     2020-05-12    2020-06-07    26
5131  30s     2020-05-16    2020-05-24     8
5146  20s     2020-02-20    2020-03-23    32
5147  20s     2020-02-22    2020-03-07    14
5148  40s     2020-03-02    2020-03-15    13
5149  40s     2020-03-04    2020-03-21    17
5150  20s     2020-03-24    2020-05-08    45
5151  30s     2020-03-24    2020-05-05    42
5152  20s     2020-03-25    2020-04-03     9
5153  10s     2020-03-27    2020-04-12    16
5154  20s     2020-03-29    2020-04-28    30
5155  20s     2020-04-03    2020-04-21    18
5156  30s     2020-04-03    2020-05-19    46
5157  20s     2020-04-03    2020-05-05    32
5158  10s     2020-04-14    2020-04-26    12
5159  30s     2020-05-09    2020-06-12    34
5160  30s     2020-05-30    2020-06-13    14

[1576 rows x 4 columns]

In [161]:
dataP2.groupby('age').count() #인원수 확인을 위해 써봄

      confirmed_date  released_date  days
age
0s                19             19    19
100s               1              1     1
10s               65             65    65
20s              409            409   409
30s              211            211   211
40s              241            241   241
50s              300            300   300
60s              173            173   173
70s               83             83    83
80s               60             60    60
90s               14             14    14

In [168]:
dataP2.groupby('age').mean() # 전반적으로 연령이 높아질수록 완치기간이 길어진다.

           days
age
0s    24.526316
100s  66.000000
10s   20.815385
20s   23.481663
30s   23.194313
40s   23.651452
50s   23.880000
60s   26.832370
70s   32.807229
80s   34.733333
90s   28.785714